%h1 Listing users

%table.table
  %tr
    %th
      Email
    %th
      Username

  - @users.each do |user|
    %tr
      %td= link_to user.email, admin_path(user)
      %td= user.username

%br

= link_to 'New User', new_admin_path
