%h1 Listing users

%table.table
  %tr
    %th
      Email
    %th
      Username
    %th
      Admin

  - @users.each do |user|
    %tr
      %td= link_to user.email, admin_path(user)
      %td= user.username
      %td= check_box_tag :admin, nil, is_admin?(user)
%br

= link_to 'New User', new_admin_path
